<!DOCTYPE html>
<html ng-app="raCrudDemo">
<head>
  <title>RailsAngularCrudDemo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Include the controller specific script -->
  <%= javascript_include_tag "/assets/#{controller_name}" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
